.search_wrapper{
    margin-top: 40px;
}
.content{
    margin-top: 40px;
    background-color: rgba(35, 33, 33, 0.581);
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    
}
.card_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
}
.thumb img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    
}

.desc_icon{
    text-align: center;
    font-size: 15px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    width: 90px;
}